<form (ngSubmit)="login()">
  <div class="mb-3">
    <label for="username" class="form-label">Nom d'utilisateur</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Connexion en tant que {{ role }}</button>
</form>
