<app-navbar></app-navbar>


<!-- Ajouter le tableau dans typescript -->
<router-outlet></router-outlet>

<!-- Toast Container -->
<div aria-live="polite" aria-atomic="true" class="position-relative" style="min-height: 200px;">
    <!-- Position it -->
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <!-- Toast -->
      <div class="toast" id="courseToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Notification</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <!-- Message content will be inserted dynamically -->
        </div>
      </div>
    </div>
  </div>
  