<div class="container mt-5">
  <div class="row mb-4">
    <div class="col">
      <h1>Liste des Cours</h1>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-3">
      <div class="mb-3">
        <label for="categoryFilter" class="form-label">Catégorie</label>
        <select id="categoryFilter" class="form-select" [(ngModel)]="selectedCategory" (change)="filterCourses()">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mb-3">
        <label for="branchFilter" class="form-label">Branche</label>
        <select id="branchFilter" class="form-select" [(ngModel)]="selectedBranch" (change)="filterCourses()">
          <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mb-3">
        <label for="majorFilter" class="form-label">Filière</label>
        <select id="majorFilter" class="form-select" [(ngModel)]="selectedMajor" (change)="filterCourses()">
          <option *ngFor="let major of majors" [value]="major.id">{{ major.name }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="mb-3">
        <label for="locationFilter" class="form-label">Lieu</label>
        <select id="locationFilter" class="form-select" [(ngModel)]="selectedLocation" (change)="filterCourses()">
          <option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Recherche" [(ngModel)]="searchText" (input)="filterCourses()">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nom du cours</th>
            <th>Code du cours</th>
            <th>Branche</th>
            <th>Filière</th>
            <th>Lieu</th>
            <th>Information</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of filteredCourses">
            <td>{{ course.courseName }}</td>
            <td>{{ course.courseCode }}</td>
            <td>{{ getBranchName(course.branch) }}</td>
            <td>{{ getMajorName(course.major) }}</td>
            <td>{{ getLocationName(course.location) }}</td>
            <td><button class="btn btn-info" [routerLink]="['/courses', course.courseCode]">Information</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
